.logobox{
    display: flex;
    justify-content: center;
   
    gap: 10em;
    padding: 5em 10em;
    align-items: center;
    flex-wrap: wrap;
}

.logobox img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    flex-basis: 100px;
}