.nav {
  background-color: #0b015b;
  color: white;
  height: 10vh;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin-inline: auto;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinksContainer {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.navLinks {
  margin-right: 2em;
}

.navLinks li {
  display: inline-block;
  margin-right: 1.2em;
}

.navLinksContainer > button,
.mobileMenu button {
  border: none;
  color: #fff;
  background: #703efe;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  padding: 0.5em 0;
  border-radius: 30px;
}

.hamburgerButton {
  display: none;
  background: transparent;
  border: none;
  outline: none;
}

.mobileMenu,
.mainMobileMenu {
  display: none;
}

.mobileMenuOpen {
  transform: translateX(0);
}

@media screen and (max-width: 900px) {
  .hamburgerButton,
  .mainMobileMenu {
    display: block;
  }

  .navLinksContainer {
    display: none;
  }

  .mainMobileMenu {
    position: relative;
  }

  .mobileMenu {
    display: none;
    position: absolute;
    top: 4vh;
    right: 0;
    width: 200px;
    height: 200px;
    color: #000;
    background-color: #fff;
    border-radius: 0.5em;
    transform: scale(0);
    flex-direction: column;
    justify-content: center;
    padding: 0 1em 0.5em 1em;
    transition: transform 0.3s ease-out;
  }

  .mobileMenu > ul {
    display: flex;
    height: 70%;
    align-items: space-around;
    justify-content: space-around;
    flex-direction: column;
  }

  .mobileMenu > button {
    margin-top: 0.2em;
    width: 100%;
  }

  .showMobileMenu {
    display: flex;
    transform: scale(1);
  }
}
