@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');

.nav{
    background-color: #0B015B;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 10em;
    padding-right: 10em;
}



.nav button{
   
    width: 153px;
    height: 47px;
     display: flex;
     justify-content: center;
     align-items: center;
    
    background: #703EFE;
    border-radius: 30px;
    border: 0;
    color:white;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height, or 128% */

letter-spacing: -0.02em;
}


.nav div:nth-child(2) {
    display:flex;
    gap:1em;

  }

  .nav div:nth-child(2) ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
/* identical to box height, or 128% */


color: #FFFFFF;

  }

  @media only screen and (max-width: 600px) {
    .hero h1:nth-child(1){
        margin-left:0vw;
       
    }
    .hero h1:nth-child(2){
        margin-left:0vw;
    }
    .hero h1:nth-child(3){
        margin-left:0vw;
  }
}



 

  